/* 重置文件 */
body {
  /* font:  "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB"; */
  font-family: Microsoft YaHei UI-Bold, Microsoft YaHei UI;
}

html,
body,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
legend,
form,
img,
input {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

i,
em,
b,
strong {
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
